<!-- BEGIN FOOTER -->
<div style="background-color:black; margin-top: 20px; height: 340px;text-align: center">
    <div style="width: auto; display: inline-block">
        <div>
            <div style="width: 200px; height: 200px; float: left; background-image:url(../../../public/assets/layouts/layout/img/barcode.png);background-size: cover;background-position: center;background-repeat: no-repeat; margin-left: 50px; margin-top: 50px;"></div>
            <div style="width: 500px; height: 200px; float: left; background-image:url(../../../public/assets/layouts/layout/img/logobig.png);background-size: cover;background-position: center;background-repeat: no-repeat; margin-left: 50px; margin-top: 50px;"></div>
            <div style="width: 300px; height: 200px; float: left; text-align: left">
                <p style="font-family:Courier; color:white; font-size: 14px;margin-left: 50px; margin-top: 70px;">微信公众号：ausuninvest</p>
                <p style="font-family:Courier; color:white; font-size: 14px;margin-left: 50px; margin-top: 30px;">联系邮箱：<a  href="mailto:info@bestaig.com">info@bestaig.com</a></p>
                <p style="font-family:Courier; color:white; font-size: 14px;margin-left: 50px; margin-top: 30px;">商务合作：<a href="mailto:business@bestaig.com">business@bestaig.com</a></p>
                <p style="font-family:Courier; color:white; font-size: 14px;margin-left: 50px; margin-top: 30px;">招聘邮箱：<a href="mailto:hr@bestaig.com">hr@bestaig.com</a></p>
            </div>
        </div>
        <div style="width: 800px;">
            <p style="font-family:Courier; color:white; font-size: 14px;">2017 &copy; Ausun investment group Ltd Pty All rights reserved</p>
        </div>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->