<ul class="nav navbar-nav">
    <!-- DOC: Remove data-hover="megamenu-dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
    <li class="classic-menu-dropdown" aria-haspopup="true">
        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true"> 新 房
        </a>
        <ul class="dropdown-menu pull-left">
            <li>
                <a href="/public/offplan/list?city=1">
                    <i class="fa"></i> 悉尼 </a>
            </li>
            <li>
                <a href="/public/offplan/list?city=2">
                    <i class="fa"></i> 墨尔本 </a>
            </li>
            <li>
                <a href="/public/offplan/list?city=3">
                    <i class="fa"></i> 布里斯班 </a>
            </li>
        </ul>
    </li>
    <li class="classic-menu-dropdown" aria-haspopup="true">
        <a href="/public/established/list"> 二手房
            <span class="selected"> </span>
        </a>
    </li>
    <li class="classic-menu-dropdown" aria-haspopup="true">
        <a href="/public/rent/list"> 租 房
            <span class="selected"> </span>
        </a>
    </li>
</ul>
